*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e4e4e4a8;
}
.container{
    width: 85%;
    margin: 50px auto;
}

/*End OF Nav************************************* */



section.Contact{
    margin-top: 300px;
}
.links ul li a{
    margin: 0 10px;
    font-size: 33px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50%;
    color: #8c8c8c;
}
.links ul li a:hover{
    color: white;
}
